/* This file is for your main application css. */
@import "primer/index.scss";

.Subhead {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px #e1e4e8 solid;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.Subhead-heading {
  font-size: 24px;
  font-weight: normal;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.Subhead-description {
  font-size: 14px;
  color: #586069;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  flex: 1 100%;
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.bspace {
  border-spacing: 0 5px;
  border-collapse: separate;
}

.topic-tag {
  display: inline-block;
  padding: 0.3em 0.9em;
  margin: 0 0.5em 0.5em 0;
  white-space: nowrap;
  background-color: #f1f8ff;
  border-radius: 3px;
}

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  text-align: left;
  background-color: #24292e;
}

.masthead .masthead-logo {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.instance-state-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.boxed-action {
  float: right;
  margin-left: 10px;
}
